<button class="btn btn-warning">Add</button>
<form method="post" action="/home/addPerson">
    <div class="row-cols-3">
        <div style="font-family:KBbubblegum;">
            <input class="form-control" name="people[0].FirstName" placeholder="First Name" />
            <input class="form-control" name="people[0].LastName" placeholder="Last Name" />
            <input class="form-control" name="people[0].Age" placeholder="Age" />
        </div>
    </div>


    <button class="btn btn-success">Submit</button>
</form>